.rightbarFriend {
    @include center;
    // margin-bottom: 15px;
    padding: 5px;

    &:hover {
        background-color: #0001;
        border-radius: 10px;
        cursor: pointer;
    }

    .rightbarProfileImgContainer {
        margin-right: 10px;
        position: relative;
        height: 40px;

        .rightbarOnline {
            @include circle(12);
            background-color: limegreen;
            position: absolute;
            top: -2px;
            right: 0;
            border: 2px solid white;
        }
    }

    .rightbarUsername {
        font-weight: 500;
    }
}
