.findFriendsContainer {
    display: flex;

    .findFriendsRight {
        padding: 20px;
        flex: 9;

        .findFriendsRight-top {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .findFriendsRight-content {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .findFriendsRight-content-cardContainer {
                min-width: 190px;
                max-width: 250px;
                flex: 1 1;

                @media (max-width: 640px) {
                    max-width: 450px;
                }

                .findFriendsRight-content-card {
                    border-radius: 8px;
                    background-color: aliceblue;
                    border: 1px solid #ccc;
                    padding-bottom: 12px;

                    .findFriendsRight-content-cardcontent {
                        padding: 0 10px 10px 10px;
                    }

                    .findFriendsRight-content-card_imageWrapper {
                        .findFriendsRight-content-card_image {
                            border-radius: 8px 8px 0 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }

                    .findFriendsRight-content-cardcontent_name {
                        padding: 0 12px;
                        margin: 6px 0;
                    }

                    .findFriendsRight-content-cardcontent_relations {
                        padding: 0 12px;
                        margin: 6px 0;
                    }

                    .findFriendsRight-content-cardcontent_button {
                        padding: 0 12px;
                        margin: 6px 0;

                        button {
                            width: 100%;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}
