.sidebar {
    // flex: 3;
    @include scroll-divFix($headerHeight);
    box-shadow: 2px 0px 10px darkgrey;

    &::-webkit-scrollbar {
        display: none;
    }
    &:hover::-webkit-scrollbar {
        display: block;
    }

    .sidebarWrapper {
        padding: 10px 15px 20px 20px;

        .sidebarList {
            list-style: none;

            .sidebarListItem > a {
                @include center();
                padding: 10px 5px;
                border-radius: 10px;

                .sidebarIcon {
                    margin-right: 15px;
                    @include center();
                }

                &:hover, &.active {
                    background-color: #0001;
                }
            }
        }

        .sidebarButton {
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
        }

        .sidebarHr {
            margin: 20px 0;
        }

        .sidebarFriendList {
            list-style: none;
        }
    }
}
