@import '../../sass';

.sidebar {
    flex: 3;
    @include scroll-divFix(50px);

    .sidebarWrapper {
        padding: 20px;

        .sidebarList {
            list-style: none;

            .sidebarListItem {
                @include center();
                margin-bottom: 20px;

                .sidebarIcon {
                    margin-right: 15px;
                }
            }
        }

        .sidebarButton {
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
        }

        .sidebarHr {
            margin: 20px 0;
        }

        .sidebarFriendList {
            list-style: none;
        }
    }
}
