@import '../../sass';

.sidebar {
    flex: 3;
    @include scroll-divFix(50px);
    
    &::-webkit-scrollbar {
        display: none;
    }
    &:hover::-webkit-scrollbar {
        display: block;
    }

    .sidebarWrapper {
        padding: 20px;

        .sidebarList {
            list-style: none;

            .sidebarListItem > a {
                @include center();
                margin-bottom: 20px;
                padding: 5px;
                border-radius: 10px;

                .sidebarIcon {
                    margin-right: 15px;
                    @include center();
                }

                &:hover {
                    background-color: #0005;
                }
            }
        }

        .sidebarButton {
            width: 150px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
        }

        .sidebarHr {
            margin: 20px 0;
        }

        .sidebarFriendList {
            list-style: none;
        }
    }
}
