.friendsContainer {
    display: flex;

    .friendsRight {
        padding: 20px;
        flex: 9;

        .friendsRight_top {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .friendsRight_top-link {
                color:var(--base-blue);
            }
        }

        .friendsRight_content {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
    }
}
