@import '../../sass';

.rightbar {
    // flex: 3.5; 
    @include scroll-divFix($headerHeight);
    
    &::-webkit-scrollbar {
        display: none;
    }
    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }

        .rightbarWrapper {
            padding-right: 20px;
        }
    }

    .rightbarWrapper {
        padding: 20px 25px 0 0;

        .birthdayContainer {
            @include center;

            .birthdayImg {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            .birthdayText {
                font-weight: 300;
                font-size: 15px;
            }
        }

        .rightbarAd {
            width: 100%;
            border-radius: 10px;
            margin: 30px 0;
        }

        .rightbarTitle {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .rightbarFriendList {
            list-style: none;
        }

        .rightbarInfo {
            margin-bottom: 30px;

            .rightbarInfoItem {
                margin-bottom: 10px;

                .rightBarInfoKey {
                    font-weight: 500;
                    font-size: 15px;
                    color: #555;
                }

                .rightBarInfoValue {
                    font-weight: 300;
                }
            }
        }

        .rightbarFollowings {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .rightbarFollowing {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .rightbarFollowingImg {
                    @include circle(100);
                    border-radius: 5px;
                }
            }
        }
    }
}
